@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
*{
    
   box-sizing:border-box ;
   
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(22, 145, 216);
   
}
.form{
width: fit-content;
    
    margin:  50px auto;
    background: rgb(255, 255, 255);
    border-radius: 0px;
    padding: 12px;
    border: 1px solid lightgray;
    box-shadow: rgb(214, 208, 208);
    background: rgb(252, 249, 249);

}

.calculator-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color:rgb(10, 10, 94);
    background: white;
    
}

input {
    width: 20%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    
    color: rgb(108, 108, 241);
}

button {
    background-color: rgb(63, 63, 216);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(49, 49, 233);
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

#output-form {
    margin-top: 20px;
    text-align: left;
}


