
*{font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
   box-sizing:border-box ;
   
   
}


body {
    
    background:#3a7be3;
   
}
.form{
    width: 460px;
    padding: 12px;
    margin:  50px auto;
    background: whitesmoke;
    border-radius: 0px;
    
   

}

.calculator-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

    color:rgb(10, 10, 94);
    background: white;
    m
    
    
}

input {
    width: 20%;
    padding: 8px;
    margin: 0px ;
    box-sizing: border-box;

    color:#3a7be3;
    justify-content: space-between;
}


button {
    width:100px;
    background-color: rgb(63, 63, 216);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    margin: 17px;
}

button:hover {
    background-color: rgb(49, 49, 233);
}

#result {
    margin-top: 20px;
    font-weight: bold;
}




